{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <dl>
        <dt>Title:
        <dd><input type=text size=30 name=title>
        <dt>Text:
        <dd><textarea name=text rows=5 cols=40></textarea>
        <dt>Tags:
        <dd><input type=text size=30 name=tags>
        <dd><input type="checkbox" name="private"/><label for="private">private</label>
        <dd><input type=submit value=Share>
      </dl>
    </form>
  {% endif %}
  author: {{ author }}<br/>
  channels: {% for tag in author_tags %}
    <a href="{{ url_for('show_channel', channel=tag) }}">{{ tag }}</a>{% if not loop.last %} | {% endif %}
  {% endfor %}<br/>
  <ul class=entries>
  {% for entry in entries %}
    <li><h2>{{ entry.title }}</h2>
        author: <a href="{{ url_for('show_author', author=entry.author) }}">{{ entry.author }}</a><br/>
        channels: {% for tag in entry.tags %}
            <a href="{{ url_for('show_channel', channel=tag) }}">{{ tag }}</a>{% if not loop.last %} | {% endif %}
        {% endfor %}<br/>
        {{ entry.text|safe }}
    </li>
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>
  <hr/>
  {% if username %}
      user: <a href="{{ url_for('show_author', author=username) }}">{{ username }}</a><br/>
      tags: {% for tag in user_tags %}
        <a href="{{ url_for('show_channel', channel=tag) }}">{{ tag }}</a>{% if not loop.last %} | {% endif %}
      {% endfor %}
  {% endif %}
{% endblock %}
