{% extends "layout.html" %}
{% block body %}
  <ul class=entries>
  {% for entry in entries %}
    <li><h2>{{ entry.tag }}</h2>
        author: <a href="{{ url_for('show_author', author=entry.author) }}">{{ entry.author }}</a><br/>
        action: <a href="#allow">allow</a> | <a href="#deny">deny</a><br/>
    </li>
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>
  <hr></hr>
  {% if session.logged_in %}
      user: <a href="{{ url_for('show_author', author=username) }}">{{ username }}</a><br/>
      tags: {% for tag in user_tags %}<a href="{{ url_for('show_channel', channel=tag) }}">{{ tag }}</a>{% if not loop.last %} | {% endif %}{% endfor %}<br/>
      requests: <a href="{{ url_for('show_requests', status='active') }}">active</a> | <a href="{{ url_for('show_requests') }}">inactive</a> 
  {% endif %}
{% endblock %}
